.title {
    color: red;
}
body {
    direction: rtl;
    font-family: "Arabic Typesetting";
}
.metadata {
    direction: ltr;
    text-align: right;
    margin: 0 2em;
}
.variants {
    direction: rtl;
}
.comments {
    direction: rtl;
}
hr {
    margin: 1em 2em;
}
td {
    text-align: right;
    justify-content: space-between;
    justify-self: stretch;
}
td.line-number,
td.apparatus-line-number,
td.editorial-note-number {
    vertical-align: top;
}
.line-number,
.apparatus-line-number,
.apparatus-note-number,
.editorial-note-number {
    text-align: right;
    font-size: 0.7em;
    padding-top: 0.3em;
}
div.apparatus-line,
div.editorial-note {
    padding: 2px 0;
    /* hanging indent for rtl */
    /*
                        padding-right: 3em;
                        text-indent: -3em;
                        direction: rtl !important;
                        */
}
/*
                    section > p {
                        padding-right: 3em;
                        padding-left: 3em;
                        text-indent: -3em;
                    }
                    */
td.line-number,
span.line-number,
span.note-number {
    display: inline-block;
    min-width: 3em;
}
td.text-col1 {
    padding-left: 40px;
}
div.couplet-container {
    display: inline-grid;
    grid-template-columns: var(--line-count-width, 3em) auto auto;
    white-space: nowrap;
}
div.couplet-container > div.text-col1-2 {
    grid-column: 2/-1;
}
div.couplet-container > div.text-col1,
div.couplet-container > div.text-col2
{
    text-align: justify;
    text-align-last: justify; /* important, since in general lines are not wrapped */
    text-justify: auto; /* i.e. kashida for modern browsers */
}
div.couplet-container > div.text-col1,
div.couplet-container > div.text-col2,
div.couplet-container > div.text-col1-2 {
    margin-bottom: 1ex; /* vertical space between verses */
}
div.couplet-container > div.text-col1 {
    margin-left: 1em; /* caesura space */
}
div.couplet-container > div.text-col2 {
    margin-right: 1em; /* caesura space */
}
div.apparatus-container {
    display: grid;
    grid-template-columns: var(--line-count-width, 3em) 1fr;
}
sup {
    font-size: 6pt
}
sup + sup:before {
    content: " ";
}
.static-text,
.apparatus-sep,
.siglum {
    color: gray;
}
abbr {
    text-decoration: none;
}
.lemma-gap {
    font-size: .8em;
}
span.caesura {
    width: 4em;
    text-align: center;
}
.supplied:not(.reading):before {
    content: "[";
}
.supplied:not(.reading):after {
    content: "]";
}
.verbatim-holy:before {
    content: "﴿";
}
.verbatim-holy:after {
    content: "﴾";
}
.verbatim:before {
    content: "(";
}
.verbatim:after {
    content: ")";
}

.note-text .term {
    font-style: italic;
}

.note-text .booktitle,
.note-text .title,
.bibliographic-reference .title {
    color: black;
    font-style: italic;
}


/* styles for print output */
@media print {

    section,
    br
    {
        break-before: avoid !important;
        break-after: avoid !important;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }
}
