# editor backup files
*~
auto

/wiki
/frameworks
/test/alea
/test/edition-ibn-nubatah

*.zip

# build artifacts
/target
/public
*.sef
*.xsef
/test.sh
/xslt.sh
/saxon.*.xml
/test.html
/log.txt

# xspec reports
*-report.html
*-result.html
xspec
