# editor backup files
*~
auto

/frameworks
/test/alea
/test/edition-ibu-nubatah
/seed-config.yaml
/log.txt
/test.*

*.zip

# build artifacts
/target
/public
*.sef
*.xsef
/test.sh
/xslt.sh
/saxon.*.xml

# xspec reports
*-report.html
*-result.html
xspec
