body {
    background-color: #dff0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
    padding: 20px;
    width: 72em;
}
.code-example {
    background-color: white;
    border: 1px solid darkgray;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6, h7 {
    border-bottom: 1px solid darkgray;
    width: 100%
}
a.target {
    text-decoration: none;
    color: black;
}
a.target:hover:after {
    content: " #";
    color: blue;
}
iframe {
    min-width: 100%;
    background-color: white;
    border: 1px solid darkgray;
    margin-bottom: 20px;
}
.transformation table {
    border-collapse: separate;
    border-spacing: 0px;
}
.parameters table {
    width: 100%;
}
.transformation table thead,
.transformation table th {
    background-color: #eee !important;
    font-weight: normal;
    font-size: .9em;
}
.transformation table td,
.transformation table th
{
    border: 1px solid darkgray;
}
.transformation table > tr > th {
    padding: 5px;
}
.parameters table td
{
    border-top: none;
}
.transformation table tbody tr:nth-child(odd) {
    background-color: #efffef;
}
.transformation table tbody tr:nth-child(even) {
    background-color: #efffff;
}
.element-name,
.angle-brackets {
    color: darkblue;
    font-family: mono;
}
.attribute-at,
.attribute-name {
    color: darkorange;
    font-family: mono;
}
.value {
    color: brown;
    font-family: mono;
}
.value .quotes {
    display: none;
}
section.transformation {
    margin: 10px 0;
    border: 1px solid darkgrey;
    padding: 10px;
    background-color: #efffe0;
}
section.transformation h1,
section.transformation h2, 
section.transformation h3, 
section.transformation h4, 
section.transformation h5, 
section.transformation h6, 
section.transformation h7 {
    border-bottom: none;
}
.toc {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
}
.toc ul {
    list-style-type: none;
    padding-left: 1.5em;
}
.toc > ul {
    padding-left: 0;
}
.toc li {
    margin: 0.2em 0;
}
.toc a {
    text-decoration: none;
    color: #333;
}
.toc a:hover {
    text-decoration: underline;
    color: #444;
}
